/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
} */
body{
    /* background-color: rgb(103, 104, 163); */
    color: rgb(220, 221, 255);
    background-color: rgb(132, 77, 183);

}


/* .container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:2px solid whitesmoke;
    padding: 8px 8px;
    background-color: whitesmoke;
   box-shadow: 2px 2px 5px greenyellow ;
   box-shadow: -2px -2px 5px greenyellow;
   display: flex;
   flex-direction: column;
}
.heading{
    color: purple;
    text-align: center;
    text-transform: uppercase;
    margin: o auto;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
.paragraph{
    color: rgb(70, 63, 76);
    text-align: center;
    font-weight: bolder;
    font-size: larger;
} */
/* .imagesrc{
 border:2px solid whitesmoke;
 padding: 4px 4px;

} */
/* img{
width: 300px;
height: 400px;
margin: 0 auto ;
} */





/* .container{
    width:300px;
    height:300px;
    align-items: center;
    justify-content: center;
    display: block;
    margin:0 auto;
    display: flex;
  
}
.id{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .dishName{
    color: crimson;
}
.image{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

} */